FIREBASE_API_KEY=AIzaSyCKP1wz84GxTn8SbH-TRgRfLte-FYNYD9o
FIREBASE_AUTH_DOMAIN=task-manager-d03fc.firebaseapp.com
FIREBASE_PROJECT_ID=task-manager-d03fc
FIREBASE_STORAGE_BUCKET=task-manager-d03fc.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=439325956853
FIREBASE_APP_ID=1:439325956853:web:4a47e2f660a9918c3203bc
FIREBASE_MEASUREMENT_ID=G-YQWDMP19DQ
GOOGLE_CLIENT_ID=1085136541000-024pd9acd7ceiilraujoamk8aqmvj8l5.apps.googleusercontent.com
JWT_SECRET=4h8sK2nLx9Pq7VmA1ZcR6TyU0QwEdF
CLIENT_ORIGIN=http://localhost:5173,https://your-vercel-app.vercel.app
PORT=5000